.Wrapper{
  display: flex;
  flex-direction: row;
  max-width: 350px;
  }

.Name {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #232366;
  letter-spacing: 0.05em;
}

.Number {
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  color: #303086;
  letter-spacing: 0.05em;
}

.Button {
  margin-left: 15px;
  display: inline-block;
  color: #232366;
  background-color: #c6cefa;
  padding: 2px 10px;
  max-width: fit-content;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  border-style: none;
  box-shadow: 1px 1px 1px #303086, 2px 2px 2px #303086, 2px 2px 2px #303086;
  border-radius: 5px;
}

.Button:hover {
  cursor: pointer;
  transform: scale(115%); 
  background-color: #303086;
  color: #c6cefa;
  box-shadow: 1px 1px 1px #c6cefa, 2px 2px 2px #c6cefa, 2px 2px 2px #c6cefa;
}

.Button:active {
  background-color: #303086;
  color: #c6cefa;
  box-shadow: 1px 1px 1px #c6cefa, 2px 2px 2px #c6cefa, 2px 2px 2px #c6cefa;
}